teste_presencial/flows.json
[
    {
        "id": "3b90334147771978",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "739e8fc20ee70b13",
        "type": "mqtt in",
        "z": "3b90334147771978",
        "name": "",
        "topic": "Lucas/1ESR/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f3b0390b99d9d37e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "71c19970617f7c34",
                "cac7653e1bb51bb6",
                "e11eb74571665f93"
            ]
        ]
    },
    {
        "id": "71c19970617f7c34",
        "type": "serial out",
        "z": "3b90334147771978",
        "name": "",
        "serial": "964c166071c2af03",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "cac7653e1bb51bb6",
        "type": "function",
        "z": "3b90334147771978",
        "name": "Contador",
        "func": "var contador = flow.get(\"contador\") || 0\n\ncontador ++\n\nflow.set(\"contador\" , contador)\n\nmsg.payload = contador\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "45ab26472f847aac"
            ]
        ]
    },
    {
        "id": "45ab26472f847aac",
        "type": "ui_gauge",
        "z": "3b90334147771978",
        "name": "",
        "group": "c6bdb7bd32305d84",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Contador de Armas",
        "label": "units",
        "format": "",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "e11eb74571665f93",
        "type": "ui_text",
        "z": "3b90334147771978",
        "group": "c6bdb7bd32305d84",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "f3b0390b99d9d37e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt-dashboard.com",
        "port": "1883",
        "clientid": "Lucas",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "964c166071c2af03",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "c6bdb7bd32305d84",
        "type": "ui_group",
        "name": "Mapeamento de Armas",
        "tab": "4724645b493dc798",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4724645b493dc798",
        "type": "ui_tab",
        "name": "Mapeamento de armas",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]